body{
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}

.btn-inta, .btn-what, .btn-x{
    border-radius: 1em;
    width: 8em;
    font: 1em sans-serif;
    padding: 15px;
    margin: 5px;
}

.btn-inta{
    border: 1px solid rgb(255, 0, 0);
    color: red;
}
.btn-what{
    border: 1px solid rgb(94, 255, 0);
    color: rgb(55, 255, 0);
}
.btn-x{
    border: 1px solid rgb(8, 0, 255);
    color: rgb(0, 42, 255);
}